<h1>Welcome to the Finance Tracker app</h1>
find me in /home/asad/Desktop/ruby project/finance-tracker/app/views/layouts/welcome<br>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete%>